<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">iGain Blog</a></h1>
        </div>

        <div>
            <p>published: 10.07.2020, 10:14</p>
            <h2><a href="">Know who you are...</a></h2>
            <p>I am who I am, and I know who God says I am. Whatever people might say about me, be it good or bad (you cannot be good in everybody's eyes, whether you like it or not), I don't really care because I know who I am, and I know GOd syas I am. I will not be bothered by anybody's comment(s).</p>
        </div>

        <div>
            <p>published: 10.07.2020, 12:14</p>
            <h2><a href="">Quote of the day...</a></h2>
            <p>Any injustice done to man by man will surely be redressed. If not now, certainly later, and if not by man, certainly by God. For the truimph of evil over good is only, but temporary.</p>
        </div>
    </body>
</html>